.popup__save {
  margin: 48px auto 37px 36px;
  padding: 0;
  width: 358px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  border: 0;
  border-radius: 2px;

  color: rgb(255, 255, 255);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(21.78/18);
  text-align: center;

  cursor: pointer;
  transition: 0.3s ease;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 605px) {
  .popup__save {
    margin: 45px auto 25px 22px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: calc(16.94/14);
  }
}
