.header__logo {
  background-image: url(../../../images/header/header-logo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 41px;
  padding: 0;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 480px) {
  .header__logo {
    margin-bottom: 32px;
    margin-left: 27px;
    width: 104px;
    height: 24px;
  }
}