.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 1px solid #545454;
  width: calc(100% - 200px);
  height: 74px;
  margin: 0 auto;
  padding: 45px 0 0;
}

@media screen and (max-width: 1120px) {
  .header {
    width: calc(100% - 2*100px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 2*50px);
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-top: 28px;
    width: 100%;
    margin: 0;
  }
}