.profile__name {
  margin: 0 0 9px;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: calc(48/42);
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 14px;
    max-width: 189px;
  }
}