.place__like {
  display: block;
  margin: 0;
  padding: 0;
  background: transparent url(../../../../images/place/place-like-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: .3s ease;
}

.place__like:hover {
  opacity: 0.5;
}